page-product {
  .imageDiv
   {
     margin-top:15px;
   }

  .info
  {

  }

  .title
  {
    text-align: left;
    font-weight: bold;
    font-size:16px;
    padding: 0px 20px;
  }

  .description
  {
    text-align: left;
    font-size:15px;
    padding:20px;
    padding-top: 0px;
    white-space: pre-line;
  }

  .price
  {
    text-align: left;
    padding:20px;
    padding-top: 0px;
  }

  .detailsLine
  {
    width:100%;
    height:1px;
    background-color:#e1e1e1;
    width:106%;
    left:3%;
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
  }

  .infoButton
  {
    width:100%;
    overflow:hidden;
  }

  .infoButtonDv
  {
    float:left;
    border:1px solid #e1e1e1;
    color:#000;
    padding:4px;
    text-align: center;
    width:55px;
    text-align:center;
    font-weight: bold;
    background-color:#f2f2f2;
  }

  .infoButtonDvLeft
  {
    float:left;
    border:1px solid #e1e1e1;
    color:#000;
    padding:4px;
    text-align: center;
    margin-left:45px;
    width:55px;
    text-align:center;
    font-weight: bold;
    background-color:#f2f2f2;
  }

  .infoButtonDvOver
  {
    float:right;
    border:1px solid #e1e1e1;
    padding:4px;
    padding-left:20px;
    padding-right:20px;
    margin-left:4px;
    color:white;
    background-color:black;
  }

  .qnt
  {
    padding: 0px 10px;
  }

  .qntText
  {
    width: 25px;
    height: 10px;
    background-color:#f2f2f2;
    border: none;
    text-align: center;
  }

  .detailsInfo
  {
    width:95%;
    margin:10px;
    margin-top: 2px;
  }

  .productFooter
  {
    background-color: black;
    height:50px;
    color: white;
    text-align: center;
    font-size: 30px;
    margin-top: 0px;
  }

  .productFooterText
  {
    position: relative;
    top:10px;
  }


  .footerContent
  {
    width: 100%;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
  }

  .footerLeft
  {
    float: left;
    width: 60%;
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .footerRight
  {
    float: right;
    width: 40%;
    background-color: blue;
    color: white;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }


}
