<!--Generated template for the FacebookconnectComponent component -->
 <div  (click)="faceBookLogin()">
  <img src="images/main_bt3.png" class="MT20" />
</div>


<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      FB Login
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content padding>
  <button ion-button full (click)="faceBookLogin()">Login!</button>
 
  <ion-card *ngIf="userData">
    <ion-card-header>{{ userData.username }}</ion-card-header>
    <img [src]="userData.picture" />
    <ion-card-content>
      <p>Email: {{ userData.email }}</p>
      <p>First Name: {{ userData.first_name }}</p>
    </ion-card-content>
  </ion-card>
 
</ion-content> -->