<ion-toolbar no-padding>
  <ion-grid>
    <ion-row text-center>
      <ion-col (click)="goHomePage()">
        <ion-icon name="home" style="font-size:50px; width:100%"></ion-icon>
        <div ion-text color="primary">Home</div>
      </ion-col>
      <ion-col (click)="goProductChatPage()" >
        <ion-icon name="chatboxes"  style="font-size:50px; width:100%" ></ion-icon>
        <div ion-text color="primary">Chat</div>
      </ion-col>
      <ion-col (click)="goProfilePage()">
        <ion-icon name="contact" style="font-size:50px; width:100%"></ion-icon>
        <div ion-text color="primary">Profile</div>
      </ion-col>
      <ion-col (click)="gobasketPage()">
        <ion-icon name="basket"  style="font-size:50px; width:100%"></ion-icon>
        <div ion-text color="primary">Basket</div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-toolbar>