<!--
  Generated template for the ChatmessagesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header-comp name="messages"> </header-comp>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item *ngFor="let message of MessagesArray" (click)="goToChatPage(message.user_id,message.product_id)">
      <ion-thumbnail item-start>
        <img  src="images/avatar1.png">
        <!--<img *ngIf="!message.product_image" src="images/avatar1.png">-->
        <!--<img *ngIf="message.product_image" [src]="ServerImageHost+message.product_image">-->
      </ion-thumbnail>
      <h2>{{message.username}}</h2>
      <!--<p>{{message.product_details}}</p>-->
      <p>{{message.chat_date}}</p>
      <p>{{message.last_chat}}</p>
      <button ion-button clear item-end>View</button>
      <ion-badge id="notifications-badge"  color="danger" class="basketBadge" *ngIf="message.is_read == 0"><span >1</span></ion-badge>
    </ion-item>
  </ion-list>

</ion-content>
