<!-- Generated template for the ProductsComponent component -->
<div>
    <div class="products">
        <div class="productsList">
                <!-- &#8362; -->
            <div  class="productRowLeft" align="center"  (click)="gotoProductPage(i)" *ngFor="let product of productsArray let i = index" >
                            <img src="{{productsArray[i].FullPath}}" class="mainImage" />
                            <p class="productTitle">{{productsArray[i].title}}</p>
                            <p class="productPrice">{{productsArray[i].low_price}} <span style="font-size: 10px;">NIS</span> </p>
                            <div class="productButton">view details</div>
            </div>
        </div>
    </div>
</div>
