<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header  >
  <header-comp name="Home Page"></header-comp>
</ion-header>


<ion-content >

  <div class="info" align="center">

    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

      <div class="form-group">
        <input type="text" class="form-control textWhite"  name="fullname" [(ngModel)]="profileFields.fullname" required  placeholder="Full Name"><br>
      </div>

      <div class="form-group">
        <input type="text" class="form-control textWhite"  name="address" [(ngModel)]="profileFields.address" required  placeholder="Address"><br>
      </div>


      <div class="form-group">
        <input type="tel" class="form-control textWhite"  name="phone" [(ngModel)]="profileFields.phone" required  placeholder="Phone"><br>
      </div>

      <button ion-button class="regButton" color="secondary" [disabled]="!f.valid" type="submit">Update</button>
    </form>
    <button ion-button class="regButton1" (click)="goToOrders()" color="primary">Orders history</button>
  </div>
</ion-content>
