page-profile {
  .regButton
  {
    width: 80% !important;
    margin-top: 20px !important;
    margin: auto;
  }

  .regButton1
  {
    width: 80% !important;
    margin: auto;
    margin-top: 7px !important;
  }

  .form-control
  {
    width: 80%;
    margin: auto;
    border-radius:7px;
    padding: 7px 15px;
    border: 1px solid #3ba2dc;
    color: #333;
    text-align: right;
    margin-top: 10px;
    direction: rtl;
  }

  .textWhite
  {
    border-radius:0px !important;
    padding: 12px;
    background-color: white !important;
  }


}
