page-register {
  .RegTitle
  {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
  }

  .Inputs
  {
    text-align: left;
    direction: ltr;
  }

  .Inputs ion-label
  {

  }

  .loginButton
  {
    margin-top:20px;
    text-align:center
  }
}

