<ion-header>
    <header-comp name="Home Page"></header-comp>
</ion-header>

<ion-content>
    <ion-slides style="height: auto; margin-top: 0px;" *ngIf="CampignImages && CampignImages.length" autoplay="3000" loop="true">
        <ion-slide   *ngFor="let slide of CampignImages" (click)="campignpage(slide.subcat_id)">
            <img src="{{Host+slide.image}}" />
        </ion-slide>
    </ion-slides>
    <div *ngFor="let category of categoires" (click)="gotoProductsPage(category.id)" >
        <img src="{{Host}}{{category.image}}" class="mainImage" />
    </div>
    <products [productsArray]="MainPageproducts"></products>
</ion-content>

<ion-footer>
    <footer></footer>
</ion-footer>