<!--
  Generated template for the BasketPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header-comp name="Basket"> </header-comp>
</ion-header>




<ion-content class="Content">
    <div *ngFor="let item of basket let i=index" >
        <div class="itemRow">

            <div class="infoCheck" (click)="openDeleteModal(i)">
                <img src="images/checked.png" style="width:100%">
            </div>


            <div class="infoButton">
                <div class="infoButtonDvLeft"(click)="changeQuan(i,0)">-</div>
                <div class="infoButtonDv" >
                    <input type="tel" class="qntText" [(ngModel)] = "item.qnt">
                </div>
                <div class="infoButtonDvRight"  (click)="changeQuan(i,1)">+</div>
            </div>


            <div class="infoImage" align="center">
                <img src="{{Host}}{{item.image}}"  />
            </div>

            <div class="infoCombo">
                <div class="title">{{item.title}}</div>
                <div class="price">price : {{item.low_price}} &#8362;</div>
                <div class="qnt">qnt : 2</div>
            </div>


            <!--<div class="infoCheck">-->
                <!--<img src="images/uncheck.png" *ngIf="item.isClicked == '0'" ng-click="changeCheckBox($index,item,0)" style="width:100%">-->
                <!--<img src="images/checked.png" *ngIf="item.isClicked == '1'" ng-click="changeCheckBox($index,item,1)" style="width:100%">-->
            <!--</div>-->
            <div>
                <img  src="images/line1.png" style="width:100%; margin-top:10px;" />
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>


    <div footerContent>
        <div class="footerRight">
            {{TotalBasketPrice}} &#8362;
        </div>
        <div class="footerLeft" (click)="sendBasket()">
            ORDER
        </div>
    </div>


    <footer></footer>


</ion-footer>
