page-history {
/*
*
*    Author:    Michael Raffaele <michael@mraffaele.com>
*    Date:    25th October 2011
*    Info:     http://www.mraffaele.com/blog/2011/10/25/css-accordion-no-javascript/
*
*/

/* Shared for all accordion types */
.accordion {
    font-family:Arial, Helvetica, sans-serif; 
    margin:0 auto;
    font-size:14px;
    width:100%;
    padding:10px;
    background:#fff;
}

.accordion ul {
    list-style:none;
    margin:0;
    padding:0;    
}
.accordion li {
    margin:0;
    padding:0;
}
.accordion [type=radio], .accordion [type=checkbox] {
    display:none;
}
.accordion label {
    display:block;
    font-size:16px;
    line-height:16px;
    background:#999;
    border:1px solid #999;
    color:#fff;
    //text-shadow:1px 1px 1px rgba(255,255,255,0.3);
    text-shadow:1px 1px 1px rgba(0,0,0,0.5);
    font-weight:700;
    cursor:pointer;
    text-transform:uppercase;
}
.accordion ul li label:hover, .accordion [type=radio]:checked ~ label, .accordion [type=checkbox]:checked ~ label {
    background:#666;
    color:#FFF;
    text-shadow:1px 1px 1px rgba(0,0,0,0.5)
}
.accordion .content {
    padding:0 0px;
    overflow:hidden;
    border:1px solid #fff; /* Make the border match the background so it fades in nicely */
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}
.accordion p {
    color:#333;
    margin:0 0 10px;
}
.accordion h3 {
    color:#542437;
    padding:0;
    margin:10px 0;
}


/* Vertical */
.vertical ul li {
    overflow:hidden;
    margin:0 0 1px;
}
.vertical ul li label {
    padding:10px;
}
.vertical [type=radio]:checked ~ label, .vertical [type=checkbox]:checked ~ label {
    border-bottom:0;
}
.vertical ul li label:hover {
    // border:1px solid #542437; /* We don't want the border to disappear on hover */
}
.vertical ul li .content {
    height:0px;
    border-top:0;
}
.vertical [type=radio]:checked ~ label ~ .content, .vertical [type=checkbox]:checked ~ label ~ .content {
    height:auto;
    border:1px solid #f1f1f1;
}


.titleItem
{
    font-weight: bold;
    font-size: 16px;
    margin-top: 2px !important;
}

.descItem
{
    font-size: 15px;
    margin-top: -4px !important;
}

.priceItem
{
    font-size: 14px;
    margin-top: -4px !important;
    font-weight: bold;
}

.orderInfo
{
    background-color: #f5f5f5;
    width: 100%;
    padding: 10px;
}

.orderNum
{
    font-size: 13px;
    margin-top: 5px;
}

.orderSum
{
    font-size: 18px;
}

.Line
{
    width: 100%;
    height: 1px;
    background: #f1f1f1;
}

.imgRow
{
    margin-top: 5px !important;
}

.infoRow
{
    margin-top: 5px !important;
}

}
