
<ion-header>
    <header-comp name="Home Page"></header-comp>
</ion-header>

<ion-content>
    <div class="accordion vertical">
        <ul>
            <li *ngFor="let order of Orders let i=index">
                <input type="radio" id="radio-{{i}}" name="radio-accordion" />
                <label for="radio-{{i}}">{{order.date}}</label>
                <div class="content">
                   <ion-row *ngFor="let item of order.cart" >
                        <ion-col col-2 class="imgRow">
                            <img src={{item.product.FullPath}} style="width:50px"/>
                        </ion-col>
                        <ion-col col-10 class="infoRow">
                            <p class="titleItem">{{item.product.title}}</p>
                            <p class="descItem">{{item.product.description}}</p>
                            <p class="priceItem">Price : {{item.product.low_price}} NIS</p>
                        </ion-col>
                      <div class="Line"></div>
                   </ion-row>
                   <div class="orderInfo">
                      <div class="orderSum">Total order price : {{order.sum}} NIS</div>
                     <div class="orderNum">Order Number : {{order.id}}</div>
                   </div>
                </div>
            </li>
        </ul>
    </div>
</ion-content>


<!-- FullPath: "http://limor.tapper.org.il/laravel/storage/app/public/uploads/qCsmJCuwAXeJ5u6nSzB7jz16xKOv3iXqDB8sb2zY.jpeg"
ImageCount: 0
SupplierName: "TELBAR"
category_id: "44"
date: "2019-01-07 14:47:50"
description: "Backpack Medium Size "
description_english: null
details_image: null
high_price: "150"
id: 889
image: "uploads/qCsmJCuwAXeJ5u6nSzB7jz16xKOv3iXqDB8sb2zY.jpeg"
low_price: "120"
mainPage: "0"
position: "505"
sku: "62033"
sub_category_id: "108"
supplier_id: "23"
title: "All Star"
title_english: null -->