<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<ion-title>{{product.title}}</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-header>
    <header-comp name="product"> </header-comp>
</ion-header>

<!--<ion-header>-->
    <!--<ion-navbar no-border-top class="ToolBarClass">-->

        <!--<ion-title>-->
            <!--<div style="width: 100%">-->
                <!--<ion-title class="mainTitle">Limor</ion-title>-->
            <!--</div>-->
        <!--</ion-title>-->
        <!---->
    <!--</ion-navbar>-->
<!--</ion-header>-->


<ion-content>

    <div align="center" class="imageDiv" *ngIf="!product.product_images">
        <img src="{{product.FullPath}}" class="mainImage" />
    </div>

    <div align="center" class="imageDiv" *ngIf="product.product_images">
        <ion-slides style="height: auto; margin-top: 0px;" *ngIf="product.product_images" autoplay="3000" loop="true" pager="true">

            <ion-slide   >
                <img src="{{product.FullPath}}" class="mainImage" />
            </ion-slide>
            <ion-slide   *ngFor="let slide of product.product_images">
                <img src="{{Host+slide.url}}" />
            </ion-slide>
        </ion-slides>
    </div>
    <div align="center" class="info">
        <p class="title">{{product.title}}</p>
        <!--<p class="description">{{product.description}}</p>-->
        <p class="description" [innerHTML]="product.description"></p>

        <h3 class="price" >price :  &#8362; {{product.low_price}}
            <s *ngIf="product.high_price > 0"> &#8362; {{product.high_price}} </s>
        </h3>
    </div>

    <div class="detailsLine"></div>
        <h5 class="qnt"> Qnt :  </h5>
        <div class="infoButton">
            <div class="infoButtonDvLeft"(click)="changeQuan(0)">-</div>
            <div class="infoButtonDv" >
                <input type="number" class="qntText" [(ngModel)] = "PrdQuan">
            </div>
            <div class="infoButtonDv" style="padding-left:15px; padding-right:15px; width:55px; text-align:center; background-color:#f2f2f2" (click)="changeQuan(1)">+</div>
        </div>
        <div class="detailsLine"></div>
        <h5 class="qnt"> Delivery Details :  </h5>
        <textarea class="detailsInfo" rows="4" cols="50" ng-model="product.remarks" style="color:#999"></textarea>



    <products [productsArray]="categoriesProducts"></products>


</ion-content>


<ion-footer>

    <div class="footerContent">
        <div class="productFooter" (click)="openModal()" >
            <span class="productFooterText" >Add to basket >></span>
        </div>
    </div>

    <footer [ProductId]="productId"></footer>

</ion-footer>



