<!--
  Generated template for the ProductsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->
    <!--<header-comp></header-comp>-->
<!--</ion-header>-->
<ion-header>
    <header-comp [name]="subCategoryName"></header-comp>

<!-- <div>
    <div class="arrowLeft">
        <img src="images/left.png" width="100%"/>
    </div>
    <div class="arrowRight">
            <img src="images/right.png" width="100%"/>
    </div>
    <div class="scrollmenu">
        <span *ngFor="let sub of subCatgories let i = index" (click)="subCategoryClick(sub.id,i)">{{sub.title}}</span>
    </div>
</div> -->


    <ion-item>
        <ion-label>Select category</ion-label>
        <ion-select [(ngModel)]="selectedCategory" (ngModelChange)="subCategoryClick($event)">
          <ion-option *ngFor="let sub of subCatgories let i = index" value="{{sub.id}}" >{{sub.title}}</ion-option>
        </ion-select>
    </ion-item>

</ion-header>

<ion-content padding class="mainContent">
    <products [productsArray]="products"></products>
</ion-content>


<ion-footer>
    <footer></footer>
</ion-footer>
