page-products {
  div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }

  div.scrollmenu span {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
    border-right: 1px solid grey;
    width: 210px;
    text-align: center;
  }

  div.scrollmenu span:hover {
    background-color: #777;
  }

  .mainContent
  {
    margin-top: -10px;
  }

  //.mainImage
  //{
  //  width: 130px;
  //  height: 130px;
  //  margin: 0 auto;
  //}

  .arrowLeft
  {
    position: absolute;
    width: 20px;
    left: 10px;
    z-index: 100;
    margin-top:7px;
  }

  .arrowRight
  {
    position: absolute;
    width: 20px;
    right: 20px;
    margin-top: 7px;
    z-index: 100;
  }


}
