<!--
  Generated template for the TakanonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <header-comp name="Home Page"></header-comp>
</ion-header>


<ion-content padding>
  <div class="takanon">
      For purposes of convenience, the Code of Ethics applies to the male, but all that is said therein refers to women and men alike.<br><br>
      The use of the site and its contents and services are offered to you subject to your acceptance of all the conditions contained in these regulations.<br><br>
      Browsing the Site and / or subscribing to its services will be considered as your agreement to these terms.<br><br>
      The site's management may suspend, block or stop the surfer's access to the service immediately if he violates the terms of the regulations.<br><br>
      The site's management may update the terms of the articles from time to time.<br><br>
      No use may be made of the site or through it for illegal purposes.<br><br>
      Registration on the Site is for the personal and exclusive use of the surfer who is not authorized to transfer the user's permission to any other person. A special obligation to be absolutely precise in all the personal details required for registration and for the ongoing contact with the subscriber.<br><br>
      You are solely responsible for the accuracy of the information you publish or transmit through the Site. The site management does not assume any responsibility for the content published or transmitted among subscribers.<br><br>
      No commercial use may be made of the site by way of advertisement delivery or otherwise.<br><br>
      The site's management intends that the site and its services will be available at all times. At the same time, the site management is unable to commit itself to continuous availability without any mishaps and without "falls". In addition, the site's management is entitled to terminate the use of the site from time to time for its maintenance and organization. No monetary compensation will be granted due to malfunctions or breaks in service.<br><br>
      All intellectual property rights and copyrights relating to the Site are the property of the Site's management.<br><br>
      Site management is not responsible for the content of ads, "banners" or any promotional material on the site. Advertisers are solely responsible for this.<br><br>
      The existence of links ("links") to other sites does not guarantee the contents of these sites in terms of their reliability, completeness, or in any other way.<br><br>
      Israeli law will apply to the articles of association. Jurisdiction over it to the competent courts in Tel Aviv.<br><br>
      Shipments to any place in the country between 7 and 10 working days<br><br>
      Product return option can be returned up to 15 working days<br><br>
      Guaranteed refund (shipping back to buyer's account)<br><br>
      We guarantee that all products sold on the site are genuine   <br><br>   
  </div>
</ion-content>
